.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}
.App button {
  margin: 0 auto;
  font-size: 1rem;
  border: 1px solid black;
  background: transparent;
  padding: 20px;
}
